@model MusicPortal.Models.Video

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Video</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mtitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mtitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
