@model MusicPortal.Models.Authenticatio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Authenticatio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
